.Main{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%; 
    padding: 10px;
}

.post{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 10px;
}

.text{
    padding: 10px;
}

.date{
    text-align: right;
}

.editBtn{
    background-color: seagreen;
}

.deleteBtn{
    background-color: firebrick;
}

.editBtn,
.deleteBtn{
    padding: 5px;
    font-size: 15px;
    border: none; 
    font-weight: bold;
}